.home-container .top-space {
  height: 3.5rem;
}
.header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)),
    url(../../../resources/banner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
}
.text-box {
  width: 90%;
  margin: auto;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  line-height: 1.5rem;
  word-spacing: 1.7px;
  letter-spacing: 0.2px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  border-radius: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #075698;
  background: #075698;
  transition: 1s;
}
/*------Services-------*/

.service {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.service h1 {
  font-size: 36px;
  font-weight: 600;
}
.service p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.service .service-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.service h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.service .service-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
