/* Common styles */
.margin-20 {
  margin: 20px;
}

.home-container .top-space {
  height: 3.5rem;
}

/* Comment the below header style for bg carousel with blur effect  */
.header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.9)),
    url(../../../resources/banner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.header-container {
  min-height: 100vh;
  position: relative;
}
.header .carousel {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.carousel .slide img {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
  filter: blur(5px);
}
.carousel .thumbs-wrapper {
  display: none;
}
.header-info {
  display: flex;
  top: 0;
  /* Comment the below left, width and margin style for bg carousel with blur effect  */
  left: 10%;
  width: 80%;
  margin: auto;
  /* Uncomment the below background-color , position and height style for bg carousel with blur effect  */
  /* background-color: rgb(50 50 51 / 79%);
    position: absolute;
    height: 100vh;
  */

  z-index: 1;
}
.text-box {
  width: 90%;
  margin: auto;
  color: rgb(253, 253, 253);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}
.text-box .mid-para {
  margin: 25px 0;
}
.text-box h1 {
  font-size: 62px;
  text-shadow: 2px 2px 0px rgb(169 190 196);
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  line-height: 1.5rem;
  word-spacing: 1.7px;
  letter-spacing: 0.2px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  border-radius: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn i {
  margin-left: 7px;
  transition: all 0.5s ease;
}
.hero-btn:hover {
  border: 1px solid #075698;
  background: #075698;
  transition: 1s;
}
.hero-btn:hover i {
  transform: scale(1.5);
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
section:nth-child(2n) {
  background-color: transparent;
}

section:nth-child(2n + 1) {
  background-color: #9e9b9b29;
}
/*------Services-------*/

.service {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.service h1 {
  font-size: 36px;
  font-weight: 600;
}
.service p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.service .service-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
.service h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.4s ease;
}
.service .service-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  cursor: pointer;
}
.service .service-col:hover h3 {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .text-box h1 {
    font-size: 48px;
  }
}

/* ----------Products ---------- */

.products {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.products-row {
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.products-col {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 25px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.products-col:hover img {
  transform: scale(1.1);
  filter: blur(2.5px);
}
.products-col img {
  width: 100%;
  display: block;
  transition: all 1s ease;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgb(123 108 108 / 38%);
  box-shadow: inset 0px 0px 7px 1px rgb(174 187 179 / 4%);
  cursor: pointer;
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 6px rgb(169 190 196);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* Facilites */
.facilities {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
  text-align: center;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}
/* --------testimonials---------- */
.testimonial {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
  margin: 20px;
}
.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonial-col p {
  padding: 0;
}
.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}
.testimonial-col .fa {
  color: #f44336;
}
@media (max-width: 700px) {
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/* Partner */

.partner {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.partner .brand-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px;
  width: 60%;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 0 6px 6px #dfdede;
  border-radius: 20px;
  padding: 40px 20px;
}
.partner .brand-container .brand {
  margin: 10px 20px;
  width: 180px;
}
.brand img {
  width: inherit;
  transition: all 1s ease;
}
.brand:hover img {
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .partner .brand-container .brand {
    width: 120px;
  }
}
/* -------call to action----------- */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../../resources/banner.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}
/* -------------About----------------- */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: relative;
  background-color: rgb(116 234 195 / 53%);
  border-radius: 100% 0 0 0px;
}
.bubble-big {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: 2%;
  background-color: aquamarine;
}
.bubble-mid {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: 7%;
  top: 15%;
  background-color: aquamarine;
}
.bubble-small {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 12%;
  background-color: aquamarine;
}
.footer p {
  margin: 0px 100px;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.no-list-style {
  list-style: none;
}
.icons {
  margin: 10px 0;
}
.no-list-style li {
  font-weight: 100;
  font-size: 1.1rem;
}

.no-list-style li a {
  list-style: none;
  color: rgb(159, 55, 55);
  text-decoration: none;
}

.horizontal-list {
  padding-left: 0px;
  margin: 0px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
}
.social-icons li a i {
  padding: 10px;
  width: 20px;
  font-size: 1rem;
  border-radius: 50px;
}

.social-icons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
  background-color: #dba9a6a7;
  transition: 0.6s all ease-in-out;
}
/* .icons .fa {
  color: #f44336;
  margin: 0 13 px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o {
  color: #f44336;
} */
